.floating {
	animation: floating ease 8s infinite;
}

@keyframes floating {
	0% {
		transform: translate(0%, 0%) rotate(360deg);
	}

	25% {
		transform: translate(5%, 15%) rotate(360deg);
	}

	50% {
		transform: translate(10%, 5%) rotate(360deg);
	}

	75% {
		transform: translate(0%, 15%) rotate(360deg);
	}

	100% {
		transform: translate(0%, 0%) rotate(360deg);
	}
}
